body {
    background-color: white;
    text-align: center;
}

h2 {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "width" 100;
    text-align: center;
    color: rgb(0, 200, 255);
}

ul {

 padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

header {
text-align: center;
background: rgb(0, 200, 255);
background-size: cover;
padding: 20px 0px 0px 0px;
}

h1 {
    font-size: 50px;
    color: white;
}

#header {
    margin: 10px 0px 0px 0px;
    border: 7px solid white;
      border-radius: 20px;
}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
